{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <img src="{{ asset('image/under_construction.png') }}">
        </div>
    </div>
{% endblock %}
