{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="" style="text-align: center">
            <label style="font-size: 200px; font-family: Consolas;">Plan C</label>
        </div>
    </div>

{% endblock %}
